<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Добрый день, {username}!</h1>
<p>Ваш баланс: {balance}.</p>
<a href="/transactions.csv">Выгрузить транзакции в CSV</a>
<br>
<a href="/transactions/json">Выгрузить транзакции в JSON</a>
<br>
<a href="/transactions/xml">Выгрузить транзакции в XML</a>
</body>
</html>
